torch
numpy
gin-config
transformers
datasets
evaluate
sentencepiece
protobuf==3.17.3
promptsource
scikit-learn
wandb
tensorboardx
chardet
cchardet
nltk
absl-py
rouge-score
sentence-transformers
bert_score
num2words
